/*Empty state box (no subject added msg) */
.empty-bubble {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 15;
    -fx-padding: 30;
    -fx-border-radius: 15;
    -fx-border-color: #dddddd;
}

